body{
    margin: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    color: black;
    text-decoration: none;
    margin-right: 45px;
    margin-top: 10px;
} 

.settings{
    display: flex;
    width: 50%;
    height: fit-content;
    margin-bottom: 20px;
    /* margin-top: 80px; */
    /* background-color: white; */
}

.details{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 20px;
}

.details input{
    width: 90%;
}

input:focus{
    outline: none;
}

.details a{
    color: cadetblue;
    line-height: 30px;
    text-decoration: 0;
}

.details .dlt{
    margin: 20px 0;
}

.details h4{
    line-height: 10px;;
}

.details button{
    padding: 10px 40px;
    border: none;
    /* background-color: lightgray; */
    border-radius: 10px;
    margin: 10px;
}

.btn .save{
    background-color: goldenrod;
    padding: 10px 50px;
    transition-duration: 0.2s;
}

.btn .cancel{
    transition-duration: 0.2s;
}

.details button:hover{
    cursor: pointer;
}

.btn .save:hover{
    background-color: rgb(191, 144, 26);
}

.btn .cancel:hover{
    background-color: rgb(141, 141, 141);
}

.pic{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 10px 10px; */
    align-items: center;
    padding: 10px;
    /* background-color: aqua; */
}

.pic img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 20px;
}

.pic button{
    background-color: lightgrey;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.pic button:hover{
    cursor: pointer;
    background-color: rgb(174, 172, 172);
}

@media screen and (max-width: 840px){
    .pic{
        display: none;
    }
}


.media{
    background-color: lightgray;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.media div{
    margin: 20px 50px;
}

.media i{
    transition-duration: 0.3s;
}

.media i:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}