body{
    display: flex;
    margin: 0px;
    /* background-color: grey; */
    /* justify-content: center; */
}

.logo{
    background-color: darkgrey; 
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    text-decoration: none;
    color: black;
} 

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex: 1;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(211, 211, 211, 0.8);
    box-shadow: 2px 2px 5px black;
    border: 2px solid grey;
    height: 70vh;
    border-radius: 20px;
    padding: 10px;
}

.forms h2{
    font-size: 1.8rem;
}

.inp .user,
.inp .pass{
    padding: 10px 25px 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    width: 230%;
    margin-left: -100px;
}


.inp .user:focus,
.inp .pass:focus{
    outline: none;
}

.inp .btn{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
    /* cursor: pointer; */
    transition-duration: 0.2s;
}

.inp .btn:hover{
    background-color: grey;
    cursor: pointer;
}

.forms p{
    padding: 0 20px;
}

.forms a{
    color: cadetblue;
}