body{
    margin: 0px;
}

.nav{
    background-color: rgba(128, 128, 128, 1);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky
}

.nav i{
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: black;
}

.nav .logo{
    margin-left: 20px;
    transition-duration: 0.3s;
}

.nav .logo:hover{
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

.search{
    display: flex;
    align-items: center;
}

.search .bar{
    width: 450px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

.search .bar:focus{
    outline: none;
}

.acc{
    margin-right: 20px;
}

.acc a{
    text-decoration: none;
    color: black;
}

.acc i{
    padding: 0px 10px;
    transition-duration: 0.3s;
}

.acc i:hover{
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

@media screen and (max-width: 840px) {
    .nav .acc i{
        display: none;
    }

    .nav .bar,
    .nav .mag
    {
        display: none;
    }
}
