body{
    margin: 0px;
}

.nav{
    background-color: rgba(128, 128, 128, 1);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky
}

.nav i{
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: black;
}

.nav .logo{
    margin-left: 20px;
    transition-duration: 0.3s;
}

.nav .logo:hover{
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

.search{
    display: flex;
    align-items: center;
}

.search .bar{
    width: 450px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

.search .bar:focus{
    outline: none;
}

.acc{
    margin-right: 20px;
}

.acc i{
    padding: 0px 10px;
    transition-duration: 0.3s;
}

.acc a{
    text-decoration: none;
    color: black;
}

.acc i:hover{
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

@media screen and (max-width: 840px) {
    .nav .acc i{
        display: none;
    }

    .nav .bar,
    .nav .mag
    {
        display: none;
    }
}

.container{
    display: flex;
}

.image{
    /* background-color: cadetblue; */
    display: inline-grid;
    height: 500px;
    width: 60%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.image div{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.itemtwo{
    background-image: url('shirt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

.itemone{
    background-image: url('model.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.itemthree{
    background-image: url('model2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.itemfour{
    background-image: url('model3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    /* background-color: darkslategray; */
    width: 60%;
    /* border: 2px solid black; */
    height: fit-content;
    margin: 10px 80px 0 0;
    padding-left: 10px;
}

.content .name{
    line-height: 10px;
    margin-bottom:50px;
}

.content .color{
    /* background-color: cadetblue; */
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.color div{
    background-color: lightgray;
    padding: 5px 10px 5px 2px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.color div:hover{
    cursor: pointer;
    background-color: grey;
}

.content .size{
    /* background-color: cadetblue; */
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.size div{
    /* background-color: lightgray; */
    padding: 5px 10px 5px 2px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.size div:hover{
    cursor: pointer;
    background-color: grey;
}

.add button{
    /* background-color: lightgrey; */
    border: none;
    border-radius: 12px;
    padding: 8px 20px;
    margin: 15px 5px 0 0;
}

.add .num{
    background-color: lightgray;
    transition-duration: 0.3s;
}

.add .cart{
    background-color: goldenrod;
    transition-duration: 0.3s;
}

.add button:hover{
    cursor: pointer;
}

.add .cart:hover{
    background-color: rgb(238, 190, 67);
}

.add .num:hover{
    background-color: grey;
}

.related{
    /* background-color: green; */
    height: fit-content;
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px 10px;
    /* cursor: pointer; */
}

.related .item{
    /* background-color: greenyellow; */
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
}

.related a{
    font-size: 0.8rem;
    line-height: 8px;
    /* background-color: brown; */
    transition-duration: 0.1s;
    text-decoration: none;
    color: black;
}

.related a:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}

.related .item:hover{
    background-color: rgb(227, 226, 226);
    /* border-radius: 10px; */
}

.related img{
    height: 80%;
    width: 80%;
    margin: 3px 0px;
    transition-duration: 0.3s;
    border-radius: 10px;
    margin-top: 10px;
}

/*.item .more{
    position: absolute;
}*/

.related img:hover{
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

.media{
    background-color: lightgray;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.media div{
    margin: 20px 50px;
}

.media i{
    transition-duration: 0.3s;
}

.media i:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}